name: Wheels

on: [push]

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v2
      with:
        name: sdist_distribution
        path: dist/*.tar.gz


  build_wheels:
    name: Wheels on ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              os: "ubuntu-latest",
              url: "https://github.com/CGAL/cgal/releases/download/v5.4/CGAL-5.4.tar.xz",
              name: "cgal",
              pathInArchive: "CGAL-5.4/include/",
            }

    steps:
    - uses: actions/checkout@v2

    - name: Setup CGAL dependencies
      run: |
        wget -nv https://github.com/CGAL/cgal/releases/download/v5.4/CGAL-5.4.tar.xz
        tar -xf CGAL-5.4.tar.xz CGAL-5.4/include/
        mv CGAL-5.4/include/CGAL $GITHUB_WORKSPACE/include/

    - name: Setup boost dependencies
      run: |
        wget -nv https://boostorg.jfrog.io/artifactory/main/release/1.79.0/source/boost_1_79_0.tar.bz2 -O boost_1_79_0.tar.bz2
        tar --bzip2 -xf boost_1_79_0.tar.bz2 boost_1_79_0/boost/
        mv boost_1_79_0/boost $GITHUB_WORKSPACE/include/
        ls -l $GITHUB_WORKSPACE/include/

    - uses: pypa/cibuildwheel@v2.4.0
      env:
        CIBW_BUILD: cp38-manylinux_x86_64
        CIBW_BEFORE_BUILD_LINUX: yum -y update && yum -y install gmp-devel
        # CIBW_ARCHS_MACOS: auto universal2

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - name: Upload wheels
      uses: actions/upload-artifact@v2
      with:
        path: wheelhouse/*.whl
